examples/basic.json
[{
        "id": "bbda5864.53c288",
        "type": "debug",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 420,
        "wires": []
    },
    {
        "id": "3ae3a7ce.3516b8",
        "type": "http request",
        "z": "cf2bd91e.ad21d8",
        "name": "random image",
        "method": "GET",
        "ret": "bin",
        "paytoqs": false,
        "url": "https://loremflickr.com/320/240/sport",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "26495668.9c6a7a",
                "81fe98e0.9146f8",
                "f59e632e.66015",
                "a7af9a0b.739208",
                "8b05fc9f.cd025"
            ]
        ]
    },
    {
        "id": "a3fff645.e892f8",
        "type": "inject",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "3ae3a7ce.3516b8"
            ]
        ]
    },
    {
        "id": "8d415c29.2d40a",
        "type": "debug",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "7fa11aa2.bfae44",
        "type": "debug",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "5ee24358.a6172c",
        "type": "debug",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "26495668.9c6a7a",
        "type": "image",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "outputs": 0,
        "x": 520,
        "y": 480,
        "wires": []
    },
    {
        "id": "81fe98e0.9146f8",
        "type": "tensorflowCocoSsd",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "modelUrl": "http://localhost:1880/coco/model.json",
        "threshold": 50,
        "maxDetections": 4,
        "passthru": false,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "7fa11aa2.bfae44"
            ]
        ]
    },
    {
        "id": "f59e632e.66015",
        "type": "tensorflowMobilenet",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "modelUrl": "http://localhost:1880/mobilenet/model.json",
        "threshold": 25,
        "passthru": false,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "5ee24358.a6172c"
            ]
        ]
    },
    {
        "id": "a7af9a0b.739208",
        "type": "tensorflowPosenet",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "modelUrl": "http://localhost:1880/posenet/model.json",
        "threshold": 50,
        "maxDetections": 4,
        "passthru": false,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "bbda5864.53c288"
            ]
        ]
    },
    {
        "id": "8b05fc9f.cd025",
        "type": "tensorflowPredict",
        "z": "cf2bd91e.ad21d8",
        "name": "",
        "mode": "online",
        "modelUrl": "https://storage.googleapis.com/tfjs-models/tfjs/mobilenet_v1_0.25_224/model.json",
        "localModel": "model1",
        "threshold": 50,
        "passthru": false,
        "x": 500,
        "y": 240,
        "wires": [
            [
                "8d415c29.2d40a"
            ]
        ]
    }
]